<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<section class="intro">
    <div class="mask d-flex align-items-center h-100 gradient-custom">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-9 col-xl-7">
            <div class="card">
              <div class="card-body p-4 p-md-5">
                {%for message in messages%}
                    <h3>{{message}}</h3>
                    {%endfor%}
                <h3 class="mb-4 pb-2">Registration Form</h3>
  
                <form action="/signupuser" method="POST">
                    {%csrf_token%}
  
                  <div class="row">
                    <div class="col-md-6 mb-4">
  
                      <div class="form-outline">
                        <input type="text" name="firstname"id="firstName" class="form-control" />
                        <label class="form-label" for="firstName">First Name</label>
                      </div>
  
                    </div>
                    <div class="col-md-6 mb-4">
  
                      <div class="form-outline">
                        <input type="text" name="lastname" id="lastName" class="form-control" />
                        <label class="form-label" for="lastName">Last Name</label>
                      </div>
  
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4">
  
                      <div class="form-outline">
                        <input type="text" name="username"id="firstName" class="form-control" />
                        <label class="form-label" for="firstName">User Name</label>
                      </div>
  
                    </div>
                    <div class="col-md-6 mb-4">
  
                      <div class="form-outline">
                        <input type="email" name="email" id="email" class="form-control" />
                        <label class="form-label" for="lastName">Email</label>
                      </div>
  
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4">
  
                      <div class="form-outline">
                        <input required type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
						<label for="floatingPassword">Password</label>
                        <span class="password-info mt-2">Use 8 or more characters with a mix of letters, numbers & symbols.</span>
				     </div>
  
                    </div>
                    <div class="col-md-6 mb-4">
  
                      <div class="form-outline">
                        <input required type="password" name="password2"class="form-control" id="floatingPassword" placeholder="Password">
						<label for="floatingPassword">Confirm Password</label>
				  </div>
  
                    </div>
                  </div>
  
                
               
                  <div class="row">
                    <div class="col-12">
  
                      <h6 class="mb-3">Kind of NGOs</h6>
  
                                          
                      <select name="donatef" id="state" class="form-control" >
                          <option value="Education">Education</option>
                          <option value="Food">Food</option>
                          <option value="Shelter">Shelter</option>
                          <option value="Health">Health</option>

                          </select>
                                   
                      <div class="mt-4">
                        <input class="btn btn-warning btn-lg" type="submit" value="Submit" />
                      </div>
  
                    </div>
                  </div>
  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <style>
    .intro {
  height: 100%;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #fa709a;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom right, rgba(250, 112, 154, 1), rgba(254, 225, 64, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom right, rgba(250, 112, 154, 1), rgba(254, 225, 64, 1))
}
  </style>